@model BlockingSql.MvcWebApplication.Models.BlockingSqlModel
@{
    ViewBag.Title = "Blocking SQL Statements";
    Layout = null;
}
<style type="text/css">
    body {
        background-color: #000000;
        color: #cccccc;
        font-family: arial;
        font-size: 0.75em;
    }

    table {
        border-collapse: collapse;
    }

    table td {
        border: 1px solid #ccc;
    }

    h1 {
        text-align: center;
    }

    a.kill-process {
        background-color: red;
        color: #000000;
        display: block;
        margin: 5px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
    }

    .text-center {
        text-align: center;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        color: orange
    }
</style>

<h1>Blocking SQL Statements</h1>

<table>
    <tr>
        <th>Server</th>
        <th>Session Id</th>
        <th>SQL</th>
        <th>Login Name</th>
        <th>Blocking Session Id</th>
        <th>Host Name</th>
        <th>Database Name</th>
        <th>Program Name</th>
    </tr>

    @foreach (var blockingSqlStatement in Model.BlockingSqlStatements)
    {
        var isBlocked = blockingSqlStatement.BlockingSessionId.GetValueOrDefault() > 0;
        var rowBackground = isBlocked ? "#333" : "#000";

        <tr style="background-color:@rowBackground;">
            <td class="text-center">@blockingSqlStatement.Server</td>
            <td class="text-center">@blockingSqlStatement.SessionId<a name="@(blockingSqlStatement.Server)-@(blockingSqlStatement.SessionId)"></a></td>
            <td>@blockingSqlStatement.SqlText</td>
            <td>@blockingSqlStatement.LoginName</td>

            @if (isBlocked)
            {
                <td class="text-center"><a href="#@(blockingSqlStatement.Server)-@blockingSqlStatement.BlockingSessionId.GetValueOrDefault()">@blockingSqlStatement.BlockingSessionId.GetValueOrDefault()</a></td>
            }
            else
            {
                <td class="text-center">@blockingSqlStatement.BlockingSessionId.GetValueOrDefault()</td>
            }

            <td>@blockingSqlStatement.HostName</td>
            <td>@blockingSqlStatement.DatabaseName</td>
            <td>@blockingSqlStatement.ProgramName</td>
        </tr>
    }
</table>
